.skins-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skin-search {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-inp {
    background-color: transparent;
    height: 50px;
    width: 30%;
    font-size: 20px;
    border: 3px solid #5454D4;
    text-align: center;
    border-radius: 20px;
    outline: none;
    color: white;
}

.card-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    cursor: pointer;
    font-size: 15px;
}

@media all and (max-width: 1320px) {
    .card-container {
        width: 40%;
    }
}

@media all and (max-width: 750px) {
    .search-inp {
        font-size: 20px;
        height: 30px;
        border: 3px solid #5454D4;
    }

    .card-image {
        height: 120px;
    }

    .card-container-info>h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 500px) {
    .card-image {
        height: 100px;
    }
}

@media all and (max-width: 440px) {
    .card-image {
        height: 70px;
    }

    .card-container-info>h2 {
        font-size: 15px;
    }
}